In [ ]:
import pandas as pd

In [ ]:
dict_1 = {
    'nombre': ['Juan', 'Pedro', 'Jose'],
    'edad': [25, 29, 34]
}

df = pd.DataFrame(dict_1)
df

In [ ]:
df = pd.read_csv('./data/data', sep='|')
df

In [ ]:
df = pd.read_csv('./data/data.csv')
df

In [ ]:
df = pd.read_csv('./data/data_without_header', header=None, names=["nombre", "edad", "ciudad"] )
df

In [ ]:
df = pd.read_json('./data/data.json')
df

In [ ]:
df = pd.read_csv('./data/sales_data_sample.csv', encoding='ISO-8859-11')
df.head()

In [ ]:
df.head()

In [ ]:
df.tail(1)

In [ ]:
df.columns

In [ ]:
df.info()

In [ ]:
df.dtypes

In [ ]:
df.describe()

In [ ]:
df.index

In [ ]:
data = {
    'Nombre': ["Juan", "Pablo", "Jose"],
    'Edad': [25, 28, 34],
    'Ciudad': ["Madrid", "Barcelona", "Sevilla"]
}

df = pd.DataFrame(data)

In [ ]:
df

In [ ]:
df["Ciudad"]

In [ ]:
df[["Nombre", "Ciudad"]]

In [ ]:
df[df['Edad']> 25]

In [ ]:
data = {
    'Grupo' : ["A", "B", "A", "B", "B"],
    'Valor' : [10, 20, 15, 25, 30]
}

df = pd.DataFrame(data)

df

In [ ]:
df.groupby('Grupo').mean()

In [ ]:
df.groupby('Grupo').sum()

In [ ]:
data1 = {
    'A': ['A0', 'A1', 'A3'],
    'KEY1': ['K0', 'K1', "K2"]
}

data2 = {
    'B': ['B0', 'B1', 'B3'],
    'KEY2': ['K3', 'K1', "K2"]
}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

In [ ]:
df1.merge(df2, on='KEY', how='left')

In [ ]:
pd.merge(df1, df2, on=['KEY', 'CAMPO1'])

In [ ]:
df1.merge(df2, left_on=['KEY1', 'NAME'], right_on=['KEY2', "NAME2"])