In [5]:
# Indentacion
v1 = 3
if v1 == 6 :
    print("Verdadero")
    print("WWW")
else:
    print("Falso")

print("Hola")

Falso
Hola

In [6]:
# Comentarios
# Validar variable1

def my_func():
    """
    esta funcion hace x cosa
    variable entrada:
    salida:
    
    """
    pass

In [7]:
# Variables en python

var1 = 5
var2 = "Datapath"
var3 = 2.0
var4 = 4j

In [11]:
print(type(var4))

<class 'complex'>

In [12]:
a, b, c = "Manzana", "Platano", "Cereza"

In [ ]:
# variables locales

x = "Hola"

def my_func():
    x = "Mundo"
    print(x)

my_func()
print(x)

Hola
Hola

In [17]:
# Tipos de datos en python
# String
# Numericos
# List
# Diccionarios
# Tuplas

In [21]:
# String 

a_str = "Hola Mundo"
print(a_str)
print(a_str[3])
print(a_str[0:5])

Hola Mundo
a
Hola

In [22]:
# tipos numericos

a = 5
b = 2.0 
c = 4j

In [23]:
# Tipo de datos Listas
lista1 = [3, 5, 7]

lista2 = ["hola", "mundo"]

lista3 = [3, "Hola", 44.4, 5j]

lista4 = [3, "Hola", 44.4, 5j, [1, 4, 6]] # Lista anidada

lista5 = []

In [24]:
print(lista3[0])
print(lista3[1])
print(lista3[2])
print(lista3[3])

3
Hola
44.4
5j

In [26]:
print(lista4[4][2])

6

In [27]:
print(lista4[4.0])

TypeError: list indices must be integers or slices, not float

In [28]:
print(lista3[-1])

5j

In [30]:
lista6 = [1, 4, 6, 7, 8, 99, 78, 10]

print(lista6[1:5])

[4, 6, 7, 8]

In [31]:
print(lista6[5:])

[99, 78, 10]

In [32]:
lista6[0] = 33
print(lista6)

[33, 4, 6, 7, 8, 99, 78, 10]

In [33]:
lista6.append(12)
print(lista6)

[33, 4, 6, 7, 8, 99, 78, 10, 12]

In [34]:
lista6.append([77,88,55])
print(lista6)

[33, 4, 6, 7, 8, 99, 78, 10, 12, [77, 88, 55]]

In [35]:
lista6.extend([77,88,55])
print(lista6)

[33, 4, 6, 7, 8, 99, 78, 10, 12, [77, 88, 55], 77, 88, 55]

In [36]:
for elem in lista6:
    print(elem)

33
4
6
7
8
99
78
10
12
[77, 88, 55]
77
88
55

In [37]:
# Tuplas
tupla1 = ()

tupla2 = (1, 4, 5)

tupla3 = (1, 4.0, "hola")

tupla4 = ("manzana", 1, 3j, [1,3,4], (6,7,8))

In [38]:
print(tupla2[0])

1

In [39]:
tupla2[0] = "mundo"

TypeError: 'tuple' object does not support item assignment

In [41]:
tupla = ("hello")
print(type(tupla))

<class 'str'>

In [42]:
tupla = ("hello",)
print(type(tupla))

<class 'tuple'>

In [45]:
tupla = "a",
print(type(tupla))

<class 'tuple'>

In [44]:
for elem in tupla:
    print(elem)

a
b
c

In [46]:
# Diccionarios

dic1 = {}
dic2 = {
        1: "hola",
        2: "mundo"
    }
dic3 = {
    'nombre': "Juan",
    1 : 2345
}

In [47]:
print(type (dic3))

<class 'dict'>

In [ ]:
dict_persona = {
    'nombre': 'Juan',
    'edad': 26
}

print(dict_persona['nombre'])
print(dict_persona['edad'])

Juan
26

In [49]:
print(dict_persona['direccion'])

KeyError: 'direccion'

In [52]:
print(dict_persona.get("direccion", "-"))

-

In [55]:
dict_persona["direccion"] = "Peru"

In [56]:
print(dict_persona['direccion'])

Peru

In [57]:
for key in dict_persona:
    print( key , dict_persona[key])

nombre Juan
edad 26
direccion Peru

In [62]:
# control de flujo
var1 = 5

if var1 > 3:
    print("Condicion verdadera")
    if var1 <= 5:
        print("Variable mayor 3, pero menor igual a 5")
    else:
        print("Variable mayor que 5")

else:
    print("Condicion Falsa")

Condicion verdadera
Variable mayor 3, pero menor igual a 5

In [65]:
# FOR
suma = 0
for num in range(5):
    print(num)
    suma = suma + num

print(suma)

0
1
2
3
4
10

In [67]:
# While

i = 0

while i <= 5:
    print(i)
    i = i + 1

0
1
2
3
4
5

In [69]:
try:
    print("hola mundo")
    a = b / 0

    print("Paso division")

except Exception as e:
    print(e)

hola mundo
float division by zero

In [70]:
def my_funct():
    print("Hola Mundo")

my_funct()

Hola Mundo

In [74]:
def my_funct(nombre):
    print("Hola ",nombre)
    return nombre

var1 = my_funct("Juan")
print(var1)

Hola  Juan
Juan

In [76]:
saludo = lambda: "Hola mundo"

print(saludo())

Hola mundo

In [77]:
def suma(a, b):
    return a + b

print(suma(1,2))

3

In [78]:
suma = lambda a,b : a + b
print(suma(4, 5))

9

- Funcion para eliminar duplicados de una lista
- Funcion para buscar un elemento en una lista
- Funcion para hallar el factorial de un numero
- Funcion que sume numeros pares

In [79]:
def factorial(numero):
    x = 1
    numeros = list(range(1, numero + 1))
    print(numeros)
    for i in numeros:
        x = x * i
    return x

numero = 5
a = factorial(numero)
a

[1, 2, 3, 4, 5]

120

In [ ]:
#Numeros Pares
def Pares(numbers:list):
    return sum([num for num in numbers if num % 2 == 0])

#Funcion para eliminar duplicados de una lista

def drop_list(a:list):
    return list(set(a))

#Busqueda de elementos

def search_item(value:str,a:list):
    if value in a:
        return True
    else:
        return False

In [81]:
def buscar_elemento(lista1,elemento):
    if elemento in lista1:
        print('El elemento si se encuentra en la lista')
    else:
        print('El elemento no se encuentra en la lista')
buscar_elemento([22,34,78],34)

El elemento si se encuentra en la lista

In [83]:
def eliminarDuplicados(var):
    aux = {}
    for i in var:
        if i in aux:
            aux[i] += 1
        else:
            aux[i] = 1
    return list(aux.keys())

def sumaPares(var):
    aux = 0
    for i in range(var):
        aux += 2
    return aux

def factorial(n):
    aux = 1
    for i in range(1,n+1):
        aux *= i
    return aux

def busquedaElementos(var,val):
  aux = {}
  for i in range(len(var)):
    if var[i] in aux:

      aux[var[i]] += [i]
    else:
        aux[var[i]] = [i]
    return aux[val] if val in aux.keys() else []